<div class="row">
    <h1>{{Title}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et blandit lectus, sed sollicitudin nisi. Integer semper volutpat sapien vitae dapibus. Nunc id eros tellus. Maecenas semper massa quis elit auctor posuere. Nulla facilisi. Nulla dignissim venenatis leo in blandit. Morbi ullamcorper lectus in libero scelerisque commodo. Quisque vulputate interdum hendrerit.</p>
    <p>Value received : {{myParam1}}</p>
</div>
<div class="row">
    <div class="form-group">
        <label class="form-label">Select any</label>
        <select class="form-control" ng-model="param1">
            <option value="10">Selected 10</option>
            <option value="20">Selected 20</option>
            <option value="30">Selected 30</option>
            <option value="40">Selected 40</option>
        </select>
    </div>
</div>
<div class="row">
    <button class="btn btn-primary" ng-click="navigateToPage3()">Navigate to Page 3</button>
</div>