<div class="container" ng-init="intialize()">
    <div class="row">
        <h3>Comment Custom Directives</h3>
    </div>
    <div class="row">teststestsetet
        <!-- directive: my-comment-directive -->
    </div>
    <div class="row">
        <p><strong>Note:</strong> We've added the <strong>replace</strong> property in this example, otherwise the comment would be invisible.</p>

        <p><strong>Note:</strong> You must add the value "M" to the <strong>restrict</strong> property to be able to invoke the directive from a comment.</p>
    </div>
</div>