<div class="row">
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et blandit lectus, sed sollicitudin nisi. Integer semper volutpat sapien vitae dapibus. Nunc id eros tellus. Maecenas semper massa quis elit auctor posuere. Nulla facilisi. Nulla dignissim venenatis leo in blandit. Morbi ullamcorper lectus in libero scelerisque commodo. Quisque vulputate interdum hendrerit.</p>
</div>
<div class="row">
    <h1>{{message}}</h1>
</div>
<!--<div class="row">
    <p>Take me to <a ui-sref="dashboard">dashboard</a></p>
</div>-->
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>Select Param 1</label>
            <select class="form-control" ng-model="param1">
                <option value="10">Value 10</option>
                <option value="20">Value 20</option>
                <option value="30">Value 30</option>
                <option value="40">Value 40</option>
                <option value="50">Value 50</option>
            </select>
        </div>        
    </div>
    <div class="col-lg-6">
        <a ui-sref="sample1({id:param1,name:name})">Go to sample 1</a>
    </div>
</div>