<div class="row">
    <div class="col-lg-12">
        <h2>Detail table</h2>
        <p>{{message}}</p>
        <table class="table">
            <thead>
                <tr>
                    <td>Column 1</td>
                    <td>Column 2</td>
                    <td>Column 3</td>
                    <td>Column 4</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>row 1</td>
                    <td> data 1</td>
                    <td>data 1</td>
                    <td>data  1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>